<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

# 1. Cohorts + LTV

*   Find the first order year of each customer (cohort)
*   Calculate each customerâ€™s total lifetime revenue
*   Show average LTV per cohort, and the rank of cohorts by average LTV

In [15]:
%%sql

WITH customer_cohort AS (
  SELECT
    s.customerkey,
    MIN(EXTRACT(YEAR FROM orderdate)) AS cohort_year
  FROM sales s
  GROUP BY s.customerkey
), customer_ltv AS (
    SELECT
      customerkey,
      SUM(netprice * exchangerate * quantity) AS net_revenue
    FROM sales
    GROUP BY customerkey
), cohort_ltv AS (
    SELECT
      cc.cohort_year,
      cl.net_revenue AS lifetime_revenue
    FROM customer_cohort cc
    JOIN customer_ltv cl
        ON cc.customerkey = cl.customerkey
)
 SELECT
  cohort_year,
  AVG(lifetime_revenue) AS avg_ltv,
  RANK () OVER (ORDER BY AVG(lifetime_revenue)DESC) AS cohort_rank
  FROM cohort_ltv
  GROUP BY cohort_year
  ORDER BY cohort_year,
  cohort_rank;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  avg_ltv  cohort_rank
0        2015  5271.59            3
1        2016  5404.92            1
2        2017  5403.08            2
3        2018  4896.64            4
4        2019  4731.95            5
5        2020  3933.32            7
6        2021  3943.33            6
7        2022  3315.52            8
8        2023  2543.18            9
9        2024  2037.55           10

In [12]:
%%sql

WITH customer_cohort AS (
  SELECT
    s.customerkey,
    MIN(EXTRACT(YEAR FROM orderdate)) AS cohort_year
  FROM sales s
  GROUP BY s.customerkey
), customer_ltv AS (
    SELECT
      customerkey,
      SUM(netprice * exchangerate * quantity) AS net_revenue
    FROM sales
    GROUP BY customerkey
), cohort_ltv AS (
    SELECT
      cc.cohort_year,
      cl.net_revenue AS lifetime_revenue
    FROM customer_cohort cc
    JOIN customer_ltv cl
        ON cc.customerkey = cl.customerkey
), cohort_avg AS (
    SELECT
      cohort_year,
      AVG(lifetime_revenue) AS avg_ltv
    FROM cohort_ltv
    GROUP BY cohort_year
)
SELECT
  cohort_year,
  avg_ltv,
  RANK() OVER (ORDER BY avg_ltv DESC) AS cohort_rank
FROM cohort_avg
ORDER BY cohort_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  avg_ltv  cohort_rank
0        2015  5271.59            3
1        2016  5404.92            1
2        2017  5403.08            2
3        2018  4896.64            4
4        2019  4731.95            5
5        2020  3933.32            7
6        2021  3943.33            6
7        2022  3315.52            8
8        2023  2543.18            9
9        2024  2037.55           10

# 2. Running Totals + Ranking

For each customer, calculate their running total revenue.

Assign a row number to each order.

Select only the top 2 orders per customer (by revenue).

In [18]:
%%sql

WITH customer_order AS (
  SELECT
    customerkey,
    orderdate,
    (netprice * exchangerate * quantity) AS total_revenue
  FROM sales
),
runnings_totals AS(
  SELECT
  customerkey,
  orderdate,
  total_revenue,
  SUM(total_revenue) OVER(
    PARTITION BY customerkey
    ORDER BY orderdate
    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS running_total,
    ROW_NUMBER() OVER(
      PARTITION BY customerkey
      ORDER BY total_revenue DESC
    ) AS order_rank
  FROM customer_order
)
SELECT
    customerkey,
    orderdate,
    total_revenue,
    running_total,
    order_rank
FROM runnings_totals
WHERE order_rank <= 2
ORDER BY customerkey, order_rank;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

89471 rows affected.

       customerkey   orderdate  total_revenue  running_total  order_rank
0               15  2021-03-08        2217.41        2217.41           1
1              180  2023-08-28        1913.55        2438.86           1
2              180  2018-07-28         525.31         525.31           2
3              185  2019-06-01        1395.52        1395.52           1
4              243  2016-05-19         287.67         287.67           1
...            ...         ...            ...            ...         ...
89466      2099697  2022-09-13           6.82          38.20           2
89467      2099711  2017-08-14        3940.92        6008.67           1
89468      2099711  2016-08-13        2067.75        2067.75           2
89469      2099743  2023-02-11         598.46        1068.08           1
89470      2099743  2022-03-17         375.57         375.57           2

[89471 rows x 5 columns]

# Growth Analysis (LAG & LEAD)
Calculate month-over-month growth in 2022 and 2023. Add a column for next monthâ€™s revenue (using LEAD). Add a flag column if revenue decreased compared to the previous month

In [20]:
%%sql

WITH monthly_revenue AS (
  SELECT
    EXTRACT(YEAR FROM orderdate) AS order_year,
    EXTRACT(MONTH FROM orderdate) AS order_month,
    SUM(netprice * exchangerate * quantity) AS net_revenue
  FROM sales
  WHERE
    EXTRACT(YEAR FROM orderdate) IN(2022, 2023)
  GROUP BY
    order_month,
    order_year
),
growth_cal AS (
  SELECT
    order_year,
    order_month,
    net_revenue,
    LAG(net_revenue) OVER (ORDER BY order_year,order_month) AS prev_year_revenue, -- Added comma
    net_revenue - LAG(net_revenue) OVER (ORDER BY order_year,order_month) AS growth
  FROM monthly_revenue
),
add_lead AS (
    SELECT
        *,
        LEAD(net_revenue) OVER (ORDER BY order_year, order_month) AS next_month_revenue
    FROM growth_cal
)
SELECT
    order_year,
    order_month,
    net_revenue,
    prev_year_revenue,
    next_month_revenue,
    growth,
    CASE
        WHEN net_revenue < prev_year_revenue THEN 1 -- Corrected column names
        ELSE 0
    END AS decreased_flag
FROM add_lead;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

,order_year,order_month,net_revenue,prev_year_revenue,next_month_revenue,growth,decreased_flag
0,2022,1,3647525.92,NaN,4840124.87,NaN,0
1,2022,2,4840124.87,3647525.92,2801554.72,1192598.95,0
2,2022,3,2801554.72,4840124.87,1746624.57,-2038570.15,1
3,2022,4,1746624.57,2801554.72,4430652.19,-1054930.16,1
4,2022,5,4430652.19,1746624.57,4777313.11,2684027.62,0
5,2022,6,4777313.11,4430652.19,3395262.66,346660.92,0
6,2022,7,3395262.66,4777313.11,3698942.66,-1382050.45,1
7,2022,8,3698942.66,3395262.66,3854509.88,303680.00,0
8,2022,9,3854509.88,3698942.66,3913434.52,155567.21,0
9,2022,10,3913434.52,3854509.88,3520601.27,58924.64,0
10,2022,11,3520601.27,3913434.52,4238010.83,-392833.25,1
11,2022,12,4238010.83,3520601.27,3664431.34,717409.57,0
12,2023,1,3664431.34,4238010.83,4465204.57,-573579.49,1
13,2023,2,4465204.57,3664431.34,2244316.52,800773.22,0
14,2023,3,2244316.52,4465204.57,1162796.16,-2220888.05,1
15,2023,4,1162796.16,2244316.52,2943005.99,-1081520.36,1
16,2023,5,2943005.99,1162796.16,2864500.03,1780209.83,0
17,2023,6,2864500.03,2943005.99,2337639.34,-78505.96,1
18,2023,7,2337639.34,2864500.03,2623919.79,-526860.69,1
19,2023,8,2623919.79,2337639.34,2622774.85,286280.45,0
20,2023,9,2622774.85,2623919.79,2551322.61,-1144.94,1
21,2023,10,2551322.61,2622774.85,2700103.38,-71452.24,1
22,2023,11,2700103.38,2551322.61,2928550.93,148780.78,0
23,2023,12,2928550.93,2700103.38,NaN,228447.54,0

# Practice Sessions

In [7]:
%%sql

WITH monthly_revenue AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS order_month_year,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE
    EXTRACT(YEAR FROM orderdate) IN(2022, 2023)
  GROUP BY
    TO_CHAR(orderdate, 'YYYY-MM')
),
lagged_revenue AS (
  SELECT
    order_month_year,
    net_revenue,
    LAG(net_revenue) OVER(ORDER BY order_month_year) AS prev_month_revenue
  FROM monthly_revenue
)
SELECT
  order_month_year,
  net_revenue,
  prev_month_revenue,
  (net_revenue - prev_month_revenue) AS growth,
  CASE
    WHEN prev_month_revenue IS NULL OR prev_month_revenue = 0 THEN NULL
    ELSE 100*(net_revenue - prev_month_revenue) / prev_month_revenue
  END AS growth_percent
FROM lagged_revenue
ORDER BY order_month_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

,order_month_year,net_revenue,prev_month_revenue,growth,growth_percent
0,2022-01,3647525.92,NaN,NaN,NaN
1,2022-02,4840124.87,3647525.92,1192598.95,32.70
2,2022-03,2801554.72,4840124.87,-2038570.15,-42.12
3,2022-04,1746624.57,2801554.72,-1054930.16,-37.66
4,2022-05,4430652.19,1746624.57,2684027.62,153.67
5,2022-06,4777313.11,4430652.19,346660.92,7.82
6,2022-07,3395262.66,4777313.11,-1382050.45,-28.93
7,2022-08,3698942.66,3395262.66,303680.00,8.94
8,2022-09,3854509.88,3698942.66,155567.21,4.21
9,2022-10,3913434.52,3854509.88,58924.64,1.53
10,2022-11,3520601.27,3913434.52,-392833.25,-10.04
11,2022-12,4238010.83,3520601.27,717409.57,20.38
12,2023-01,3664431.34,4238010.83,-573579.49,-13.53
13,2023-02,4465204.57,3664431.34,800773.22,21.85
14,2023-03,2244316.52,4465204.57,-2220888.05,-49.74
15,2023-04,1162796.16,2244316.52,-1081520.36,-48.19
16,2023-05,2943005.99,1162796.16,1780209.83,153.10
17,2023-06,2864500.03,2943005.99,-78505.96,-2.67
18,2023-07,2337639.34,2864500.03,-526860.69,-18.39
19,2023-08,2623919.79,2337639.34,286280.45,12.25
20,2023-09,2622774.85,2623919.79,-1144.94,-0.04
21,2023-10,2551322.61,2622774.85,-71452.24,-2.72
22,2023-11,2700103.38,2551322.61,148780.78,5.83
23,2023-12,2928550.93,2700103.38,228447.54,8.46

# Practice-2

In [10]:
%%sql

WITH monthly_revenue AS (
  SELECT
    TO_CHAR(orderdate, 'YYYY-MM') AS order_month_year,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  WHERE
    EXTRACT(YEAR FROM orderdate) IN(2022, 2023)
  GROUP BY
    TO_CHAR(orderdate, 'YYYY-MM')
)
SELECT
  order_month_year,
  net_revenue,
  NTH_VALUE(order_month_year,3) OVER (
    ORDER BY net_revenue DESC
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS third_highest_month,
  NTH_VALUE(net_revenue,3) OVER(
    ORDER BY net_revenue DESC
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS third_highest_revenue
  FROM monthly_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

   order_month_year  net_revenue third_highest_month  third_highest_revenue
0           2022-02   4840124.87             2023-02             4465204.57
1           2022-06   4777313.11             2023-02             4465204.57
2           2023-02   4465204.57             2023-02             4465204.57
3           2022-05   4430652.19             2023-02             4465204.57
4           2022-12   4238010.83             2023-02             4465204.57
5           2022-10   3913434.52             2023-02             4465204.57
6           2022-09   3854509.88             2023-02             4465204.57
7           2022-08   3698942.66             2023-02             4465204.57
8           2023-01   3664431.34             2023-02             4465204.57
9           2022-01   3647525.92             2023-02             4465204.57
10          2022-11   3520601.27             2023-02             4465204.57
11          2022-07   3395262.66             2023-02             4465204.57
12          2023-05   2943005.99             2023-02             4465204.57
13          2023-12   2928550.93             2023-02             4465204.57
14          2023-06   2864500.03             2023-02             4465204.57
15          2022-03   2801554.72             2023-02             4465204.57
16          2023-11   2700103.38             2023-02             4465204.57
17          2023-08   2623919.79             2023-02             4465204.57
18          2023-09   2622774.85             2023-02             4465204.57
19          2023-10   2551322.61             2023-02             4465204.57
20          2023-07   2337639.34             2023-02             4465204.57
21          2023-03   2244316.52             2023-02             4465204.57
22          2022-04   1746624.57             2023-02             4465204.57
23          2023-04   1162796.16             2023-02             4465204.57

# Practice-3

In [13]:
%%sql

WITH monthly_revenue AS (
SELECT
  TO_CHAR(orderdate, 'YYYY-MM') AS month,
  SUM(netprice * exchangerate * quantity) AS net_revenue
FROM sales
WHERE
  EXTRACT(YEAR FROM orderdate) = 2023
GROUP BY TO_CHAR(orderdate, 'YYYY-MM')
ORDER BY month
)
SELECT
    month,
    net_revenue,
    AVG(net_revenue) OVER (
      ORDER BY month
      ROWS BETWEEN 2 PRECEDING AND CURRENT ROW
    ) AS moving_avg_3months
FROM monthly_revenue;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  moving_avg_3months
0   2023-01   3664431.34          3664431.34
1   2023-02   4465204.57          4064817.96
2   2023-03   2244316.52          3457984.14
3   2023-04   1162796.16          2624105.75
4   2023-05   2943005.99          2116706.22
5   2023-06   2864500.03          2323434.06
6   2023-07   2337639.34          2715048.45
7   2023-08   2623919.79          2608686.39
8   2023-09   2622774.85          2528111.33
9   2023-10   2551322.61          2599339.08
10  2023-11   2700103.38          2624733.61
11  2023-12   2928550.93          2726658.97