<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

## Find out how many customers placed their first order in each year
Step 1: For each customer, find their earliest order date.

Step 2: From that date, extract the year â†’ thatâ€™s the cohort year.

Step 3: Count how many customers belong to each cohort year.

Thatâ€™s it â€” only 3 steps ðŸ™‚

In [33]:
%%sql

WITH cohort AS (

  SELECT
    customerkey,
    MIN(orderdate) AS first_order_date
  FROM sales
  GROUP BY customerkey
)
SELECT
  EXTRACT (YEAR FROM first_order_date) AS order_year,
  COUNT(customerkey) AS num_of_customers
FROM cohort
GROUP BY order_year
ORDER BY order_year;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  order_year  num_of_customers
0       2015              2825
1       2016              3397
2       2017              4068
3       2018              7446
4       2019              7755
5       2020              3031
6       2021              4663
7       2022              9010
8       2023              5890
9       2024              1402

# Ranking Chapter - 1
order by in Window Functions

In [34]:
%%sql

SELECT
    customerkey,
    orderdate,
    (quantity * netprice * exchangerate) AS net_revenue,
COUNT(*) OVER (
  PARTITION BY customerkey
  ORDER BY orderdate
) AS running_order_count,
AVG(quantity * netprice * exchangerate) OVER (
  PARTITION BY customerkey
  ORDER BY orderdate
) AS running_avg_revenue
FROM
  sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,customerkey,orderdate,net_revenue,running_order_count,running_avg_revenue
0,15,2021-03-08,2217.41,1,2217.41
1,180,2018-07-28,525.31,1,525.31
2,180,2023-08-28,71.36,3,836.74
3,180,2023-08-28,1913.55,3,836.74
4,185,2019-06-01,1395.52,1,1395.52
...,...,...,...,...,...
199868,2099711,2016-08-13,2067.75,1,2067.75
199869,2099711,2017-08-14,3940.92,2,3004.34
199870,2099743,2022-03-17,375.57,2,234.81
199871,2099743,2022-03-17,94.05,2,234.81
199872,2099743,2023-02-11,598.46,3,356.03

# ROW_NUMBER () & ORDER BY
Assigning Row Number

In [35]:
%%sql

WITH rowing_num AS (
  SELECT
    ROW_NUMBER() OVER(
      PARTITION BY
      orderdate
      ORDER BY
      orderdate,
      orderkey,
      linenumber
    ) AS row_num,
    *
    FROM sales
)
SELECT *
FROM rowing_num
WHERE orderdate > '2015-01-01'
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,row_num,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1,2000,0,2015-01-02,2015-01-02,1639738,530,1613,5,65.99,59.39,33.65,USD,1.00
1,2,2001,0,2015-01-02,2015-01-15,2085372,999999,2182,2,1237.50,1237.50,410.01,USD,1.00
2,3,2002,0,2015-01-02,2015-01-02,1732602,510,1822,2,22.40,22.40,11.42,USD,1.00
3,4,2002,1,2015-01-02,2015-01-02,1732602,510,49,5,149.96,149.96,68.96,USD,1.00
4,5,2003,0,2015-01-02,2015-01-02,728917,300,1674,2,4.89,4.89,2.49,EUR,0.83
5,6,2003,1,2015-01-02,2015-01-02,728917,300,369,1,1747.50,1555.28,803.60,EUR,0.83
6,7,2004,0,2015-01-02,2015-01-02,1724183,570,1654,2,155.99,155.99,51.68,USD,1.00
7,8,2005,0,2015-01-02,2015-01-02,2054699,480,460,1,749.75,712.26,382.25,USD,1.00
8,1,3000,0,2015-01-03,2015-01-03,1793739,500,108,3,99.74,97.75,45.87,USD,1.00
9,2,3000,1,2015-01-03,2015-01-03,1793739,500,1684,3,11.82,11.00,3.92,USD,1.00

In [36]:
%%sql

SELECT
  ROW_NUMBER() OVER(
    PARTITION BY
    orderdate
    ORDER BY
    orderdate,
    orderkey,
    linenumber
  ) AS row_num,
  *
  FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,row_num,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,2,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,3,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,4,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,5,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199868,93,3398034,1,2024-04-20,2024-04-21,664396,999999,1651,7,159.99,139.19,73.57,EUR,0.94
199869,94,3398034,2,2024-04-20,2024-04-21,664396,999999,1646,1,159.99,159.99,73.57,EUR,0.94
199870,95,3398035,0,2024-04-20,2024-04-22,267690,999999,1575,2,60.99,53.67,28.05,CAD,1.38
199871,96,3398035,1,2024-04-20,2024-04-22,267690,999999,415,5,326.00,293.40,166.20,CAD,1.38
199872,97,3398035,2,2024-04-20,2024-04-22,267690,999999,1693,6,6.88,6.88,3.16,CAD,1.38

# Ranking Customer Order Quantity
ROW_NUMBER(), RANK(), DENSE_RANK()

In [37]:
%%sql

SELECT
  customerkey,
  COUNT(*) AS total_orders,
  ROW_NUMBER() OVER (ORDER BY COUNT(*) DESC) AS total_orders_row_num,
  RANK() OVER (ORDER BY COUNT(*) DESC) AS total_orders_rank,
  DENSE_RANK() OVER (ORDER BY COUNT(*) DESC) AS total_orders_dense_rank
  FROM sales
  GROUP BY customerkey
  LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,total_orders,total_orders_row_num,total_orders_rank,total_orders_dense_rank
0,1834524,31,1,1,1
1,1375597,30,2,2,2
2,249557,27,3,3,3
3,459519,26,4,4,4
4,1495941,26,5,4,4
5,1801215,26,6,4,4
6,1219056,25,7,7,5
7,759419,24,8,8,6
8,1427444,24,9,8,6
9,1876222,24,10,8,6

# Aggregation / Cohort

Find each customerâ€™s first order year (cohort year).

Count how many customers belong to each cohort year.

Show only cohorts after 2020.

In [38]:
%%sql

WITH cohort AS (
  SELECT
    customerkey,
    MIN(orderdate) AS first_orderdate,
    EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year
  FROM sales
  GROUP BY
    customerkey
)
SELECT
  customerkey,
  first_orderdate,
  cohort_year
FROM cohort
WHERE cohort_year > '2020'
ORDER BY
  cohort_year,
  first_orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

20965 rows affected.

       customerkey first_orderdate cohort_year
0          1970869      2021-01-01        2021
1           430639      2021-01-01        2021
2          1244322      2021-01-01        2021
3          1886419      2021-01-02        2021
4          1348953      2021-01-02        2021
...            ...             ...         ...
20960      2004167      2024-04-20        2024
20961       869767      2024-04-20        2024
20962       664396      2024-04-20        2024
20963      1638059      2024-04-20        2024
20964       423037      2024-04-20        2024

[20965 rows x 3 columns]

# Windows / Running Totals

Step 1: Select customer, orderdate, revenue (quantity * netprice * exchangerate).

Step 2: Add a running total with SUM(...) OVER (PARTITION BY customer ORDER BY orderdate).

Step 3: Add a running average with AVG(...) OVER (...).

Step 4: Use LIMIT or filter by customerkey to show just first 10 rows.

In [39]:
%%sql

WITH order_revenue AS(
SELECT
  customerkey,
  orderdate,
  (quantity * netprice * exchangerate) AS net_revenue
FROM sales
)
SELECT
customerkey,
orderdate,
SUM(net_revenue) OVER (
PARTITION BY customerkey
ORDER BY orderdate
) AS running_total,
AVG(net_revenue) OVER (
  PARTITION BY customerkey
  ORDER BY orderdate
) AS running_avg
FROM order_revenue
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

   customerkey   orderdate  running_total  running_avg
0           15  2021-03-08        2217.41      2217.41
1          180  2018-07-28         525.31       525.31
2          180  2023-08-28        2510.22       836.74
3          180  2023-08-28        2510.22       836.74
4          185  2019-06-01        1395.52      1395.52
5          243  2016-05-19         287.67       287.67
6          387  2018-12-21        2370.54       592.64
7          387  2018-12-21        2370.54       592.64
8          387  2018-12-21        2370.54       592.64
9          387  2018-12-21        2370.54       592.64

# Lag Lead Chapter

In [2]:
%%sql

WITH monthly_revenue AS (
  SELECT TO_CHAR(orderdate, 'YYYY-MM') AS month,
  SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales
WHERE EXTRACT(YEAR FROM orderdate) = 2023
GROUP BY month
ORDER BY month
)
SELECT
*,
FIRST_VALUE(net_revenue) OVER(ORDER BY month) AS first_month_revenue,
LAST_VALUE(net_revenue) OVER(ORDER BY month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS last_month_revenue,
NTH_VALUE(net_revenue,3) OVER(ORDER BY month ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING) AS Third_month_revenue
FROM monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

,month,net_revenue,first_month_revenue,last_month_revenue,third_month_revenue
0,2023-01,3664431.34,3664431.34,2928550.93,2244316.52
1,2023-02,4465204.57,3664431.34,2928550.93,2244316.52
2,2023-03,2244316.52,3664431.34,2928550.93,2244316.52
3,2023-04,1162796.16,3664431.34,2928550.93,2244316.52
4,2023-05,2943005.99,3664431.34,2928550.93,2244316.52
5,2023-06,2864500.03,3664431.34,2928550.93,2244316.52
6,2023-07,2337639.34,3664431.34,2928550.93,2244316.52
7,2023-08,2623919.79,3664431.34,2928550.93,2244316.52
8,2023-09,2622774.85,3664431.34,2928550.93,2244316.52
9,2023-10,2551322.61,3664431.34,2928550.93,2244316.52
10,2023-11,2700103.38,3664431.34,2928550.93,2244316.52
11,2023-12,2928550.93,3664431.34,2928550.93,2244316.52

# Lag & Month-ON-Month Growth

In [4]:
%%sql

WITH monthly_revenue AS (
  SELECT TO_CHAR(orderdate, 'YYYY-MM') AS month,
  SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales
WHERE EXTRACT(YEAR FROM orderdate) = 2023
GROUP BY month
ORDER BY month
)
SELECT
*,
LAG(net_revenue) OVER(ORDER BY month) AS previous_month_revenue,
100*(net_revenue - LAG(net_revenue) OVER (ORDER BY month)) /
LAG(net_revenue) OVER(ORDER BY month) AS monthly_rev_growth
FROM monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  previous_month_revenue  monthly_rev_growth
0   2023-01   3664431.34                     NaN                 NaN
1   2023-02   4465204.57              3664431.34               21.85
2   2023-03   2244316.52              4465204.57              -49.74
3   2023-04   1162796.16              2244316.52              -48.19
4   2023-05   2943005.99              1162796.16              153.10
5   2023-06   2864500.03              2943005.99               -2.67
6   2023-07   2337639.34              2864500.03              -18.39
7   2023-08   2623919.79              2337639.34               12.25
8   2023-09   2622774.85              2623919.79               -0.04
9   2023-10   2551322.61              2622774.85               -2.72
10  2023-11   2700103.38              2551322.61                5.83
11  2023-12   2928550.93              2700103.38                8.46

# Lag () & Lead ()